{% extends "base.html" %}


{% block title %} <center><b>Admin's Profile</b> </center>{% endblock %}
{% block style %}
{% load static %}

  <style>
 .div1{
         position: absolute;
         top: 30%;
         left: 13%;
         width: 80%;


      }



  </style>
{% endblock %}
{% block content %}
<div class="div1">

    <button type="button" class="btn btn-primary">
    <a href="{% url 'UsersTable' %}">Show  All The Users On This Website</a>
    </button>

    <button type="button" class="btn btn-info">
    <a href="{% url 'places' %}">Show All The Places On This Website</a>
    </button>

    <button type="button" class="btn btn-dark">
    <a href="{% url 'ShowRestaurants' %}">Show All The Restaurants On This Website</a>
    </button>

    <button type="button" class="btn btn-danger">
    <a href="{% url 'DeleteUsers' %}">Remove Users On This Website</a>
    </button>


</div>

{% endblock %}