{% extends "base.html" %}


{% block title %} <center><b> Instructions From The Health Ministry</b> </center> {% endblock %}
{% block style %}


  <style>

 .style{
       position: absolute;
       top: 27%;
       left: 5%;
       width: 90%;
       border: 2px  solid grey;
       border-radius: 8px;
       padding: 5px;
       box-shadow: 10px 10px 5px #aaaaaa;
       background-color: light grey;


      }



  </style>
{% endblock %}


{% block content %}

<div class="style">
<h3> Green Pass Compliant Facilities: </h3>
<ul>
  <li>Culture and sporting events, including marathons. If a seated sports event, and no more than 50 people indoors or 1000 people outdoors - no green pass required</li>
  <li>Prayer events held in seated attendance only and with marked seats, indoors up to 50 people and outdoors up to 1,000 people– No Green Pass required.</li>
  <li>Places of worship with more than 50 people</li>
    <li> Cinemas and theatres</li>
    <li>Recreational establishments and clubs </li>
    <li> Conferences and exhibitions</li>
    <li> Hotels: Hotel check-ins are possible with a negative PCR test result test if taken outside of Israel no more than 72 hours before arrival in a hotel</li>
    <li> Indoor or outdoor hotel, hostel, or guest house pools. A Green Pass is not mandated in other indoor or outdoor pools (which are in hotels), but Purple Badge restrictions apply</li>
    <li> Gyms and studios</li>
    <li> Event venues and gardens</li>
    <li>Festivals</li>
    <li>Restaurants, bars, dining rooms and cafes. The Green Pass requirement applies to the indoor area of a restaurant and not to the outdoor area</li>
    <li>Museums: Students and chaperons without a Green Pass can participate if in the same formation as at school (regular capsules) while maintaining maximum distance between students and other museum visitors</li>
    <li>Libraries: The Green Pass is not required of visitors who only come to take books</li>
    <li>Indoor tourist attractions and amusement parks. The Green Pass requirement does not apply to outdoor attractions</li>
    <li>Universities and establishments of higher learning</li>
    <li>Practical driving tests</li>
    <li>Employees in healthcare and social services facilities.</li>
    <li>Guided tours for children or teenagers from an orange or red locality in an informal education setting (such as a youth movement).</li>
</ul>


</div>


{% endblock %}
