{% extends "base.html" %}


{% block title %} <center>The Places On This Website </center> {% endblock %}
{% block style %}
{% load static %}
  <style>
 .div1{
          position: absolute;
         top: 30%;
         left: 10%;
         width: 80%;
      }

  </style>
{% endblock %}
  {% block content %}
        <br>
    <div class="div1">
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Places Table</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Address</th>
							<th>Type</th>

						</tr>

						{% for i in blogs %}
							<tr>
								<td>{{i.title}}</td>
								<td>{{i.address}}</td>
								<td>{{i.type}}</td>

							</tr>
						{% endfor %}

					</table>
				</div>
			</div>

		</div>
	</div>

   {% endblock %}