{% extends "base.html" %}

{% block content %}

<div class="container py-5">
	<h1>Register As Business Owner</h1>
	<form method="POST">

		{% csrf_token %}
		{% for field in form %}
		<div style="padding: 0; margin: 0;">{{ field.label_tag }}</div>
		<div style="margin: 0 0 20px 0; ">{{ field }}</div><span style="color: #7FFFD4;">{{ field.errors }}</span>
		{% endfor %}
		<div style="display: inline-block;">
			<button type="submit" class="btn btn-secondary">Register</button>
		</div>
	</form>
	<p class="text-center" style="float: left; ">If you already have an account, <a href="{% url 'Login_BusinessOwner' %}">login</a> instead.</p>
</div>

{% endblock %}