{% extends "base.html" %}
{% block style %}
{% load static %}

{% endblock %}


{% block title %}
<!DOCTYPE html>
<html>
  <style>
    h1 {text-align: center;}
    p {text-align: center;}


  </style>  
<body style="background-color:#808080"; >
    
    <h1 style="color:#FFF5EE;"> How To Use This Website </h1>

    
        <p>after signing up in our website we got some tips to give you :</p>
        <p>1)𝙩𝙝𝙚𝙧𝙚 𝙞𝙨 𝙖 𝙗𝙖𝙧 𝙞𝙣 𝙩𝙝𝙚 𝙩𝙤𝙥 𝙤𝙛 𝙩𝙝𝙚 𝙥𝙖𝙜𝙚 , 𝙩𝙝𝙚𝙧𝙚 𝙮𝙤𝙪 𝙘𝙖𝙣 𝙘𝙡𝙞𝙘𝙠 𝙖𝙣𝙮 𝙥𝙖𝙜𝙚 
            𝙮𝙤𝙪 𝙬𝙖𝙣𝙩 𝙩𝙤 𝙫𝙞𝙨𝙞𝙩.
        </p>

        <p>2)𝙞𝙣 𝙩𝙝𝙚 𝙩𝙤𝙥 𝙤𝙛 𝙩𝙝𝙚 𝙞𝙣 𝙩𝙝𝙚 𝙡𝙚𝙛𝙩 𝙨𝙞𝙙𝙚 𝙩𝙝𝙚 𝙞𝙨 𝙖 𝙢𝙚𝙣𝙪 𝙬𝙝𝙞𝙘𝙝 𝙜𝙞𝙫𝙚𝙨 𝙮𝙤𝙪 𝙩𝙝𝙚 
             𝙖𝙘𝙩𝙞𝙫𝙖𝙩𝙚𝙨 𝙩𝙝𝙖𝙩 𝙬𝙚 𝙜𝙤𝙩 𝙞𝙣 𝙩𝙝𝙚 𝙬𝙚𝙗 𝙨𝙞𝙩𝙚 𝙖𝙣𝙙 𝙛𝙧𝙤𝙢 𝙩𝙝𝙚𝙧𝙚 𝙮𝙤𝙪 𝙘𝙖𝙣 
             𝙘𝙝𝙤𝙤𝙨𝙚 𝙩𝙝𝙚 𝙤𝙣𝙚 𝙩𝙝𝙖𝙩 𝙮𝙤𝙪 𝙬𝙖𝙣𝙩</p>
        <p>3)𝙛𝙤𝙧 𝙚𝙖𝙘𝙝 𝙥𝙡𝙖𝙘𝙚 𝙩𝙝𝙚𝙧𝙚 𝙞𝙨 𝙖 𝙘𝙖𝙧𝙙 𝙩𝙝𝙖𝙩 𝙘𝙤𝙣𝙩𝙖𝙞𝙣 𝙖 𝙩𝙝𝙚 𝙙𝙚𝙩𝙖𝙞𝙡𝙨 𝙤𝙛 𝙨𝙥𝙚𝙘𝙞𝙛𝙞𝙘 
             𝙥𝙡𝙖𝙘𝙚 𝙨𝙪𝙘𝙝 𝙖𝙨 𝙩𝙝𝙚 𝙥𝙤𝙥𝙪𝙡𝙖𝙩𝙞𝙤𝙣 𝙖𝙩 𝙘𝙪𝙧𝙧𝙚𝙣𝙩 𝙢𝙤𝙢𝙚𝙣𝙩 𝙖𝙣𝙙 𝙩𝙝𝙚 𝙘𝙖𝙥𝙖𝙘𝙞𝙩𝙮 
             𝙤𝙛 𝙩𝙝𝙖𝙩 𝙥𝙡𝙖𝙘𝙚 𝙖𝙣𝙙 𝙩𝙝𝙚 𝙖𝙙𝙙𝙧𝙚𝙨𝙨</p>
        <p>  4)𝙩𝙝𝙚 𝙘𝙖𝙧𝙙 𝙖𝙡𝙨𝙤 𝙘𝙤𝙣𝙩𝙖𝙞𝙣 𝙩𝙬𝙤 𝙗𝙪𝙩𝙩𝙤𝙣𝙨 :
            .𝙞𝙣𝙫𝙞𝙩𝙖𝙩𝙞𝙤𝙣 𝙬𝙝𝙞𝙘𝙝 𝙮𝙤𝙪 𝙥𝙧𝙚𝙨𝙨 𝙤𝙣 𝙞𝙩 𝙞𝙛 𝙮𝙤𝙪 𝙤𝙣𝙡𝙮 𝙞𝙛 𝙮𝙤𝙪 𝙬𝙖𝙣𝙩 𝙩𝙤 𝙫𝙞𝙨𝙞𝙩 𝙩𝙝𝙚 
            𝙥𝙡𝙖𝙘𝙚 𝙩𝙤 𝙞𝙣𝙘𝙧𝙚𝙖𝙨𝙚 𝙩𝙝𝙚 𝙥𝙤𝙥𝙪𝙡𝙖𝙩𝙞𝙤𝙣 𝙨𝙤 𝙩𝙝𝙚 𝙤𝙩𝙝𝙚𝙧 𝙪𝙨𝙚𝙧𝙨 𝙘𝙖𝙣 𝙗𝙚 
            𝙪𝙥𝙙𝙖𝙩𝙚𝙙
            .𝙘𝙖𝙣𝙘𝙚𝙡 𝙞𝙣𝙫𝙞𝙩𝙖𝙩𝙞𝙤𝙣  𝙬𝙝𝙞𝙘𝙝 𝙮𝙤𝙪 𝙥𝙧𝙚𝙨𝙨 𝙤𝙣 𝙞𝙩 𝙞𝙛 𝙮𝙤𝙪'𝙫𝙚 𝙘𝙝𝙖𝙣𝙜𝙚𝙙 𝙮𝙤𝙪'𝙧𝙚 
             𝙢𝙞𝙣𝙙 𝙫𝙞𝙨𝙞𝙩𝙞𝙣𝙜 𝙩𝙝𝙚 𝙥𝙡𝙖𝙘𝙚 𝙩𝙤 𝙙𝙚𝙘𝙧𝙚𝙖𝙨𝙚 𝙩𝙝𝙚 𝙥𝙤𝙥𝙪𝙡𝙖𝙩𝙞𝙤𝙣 𝙨𝙤 𝙩𝙝𝙚 𝙤𝙩𝙝𝙚𝙧 
             𝙪𝙨𝙚𝙧𝙨 𝙘𝙖𝙣 𝙗𝙚 𝙪𝙥𝙙𝙖𝙩𝙚𝙙</p> 


</body>
</html>
{{ object.title }}  
{{ object.content }}


{% endblock %}